body {
    font-size: 12pt;
    background: #2e3234;
    color: wheat;
    font-family: 'Do Hyeon',
    sans-serif;
    font-family: 'PT Sans Narrow',
    sans-serif;
}

.navbar {
    width: 100%;
    background: #2e3234;
}
ul {
    background: #535353;
}

.nav-item  {
    text-align: center;
    
}

#nav-link {
    color: #D8BFD8;
}
.navbar-nav {
    color: #ff00ff;
}
.blue {
    font-size: 25px;
    color: #967bb6;
    font-weight: bold;
}
.navbar-toggler {
    background: #967bb6;
}

#sym {
    color: #E6E6FA;
}


.dp {
    width: 150px;
    height: 150px;
 align-self: center;
    border-radius: 50%;
}

.header {
    font-size: 30px;
    position: absolute;
    top: 80px;
    color: #E6E6FA;
    z-index: -1;
    padding-left: 30px;
    overflow: hidden;
}

#frontend {
    color: #D8BFD8;
}
.skill {
      position: relative;
      top: 200px;
      left: 0px;
      z-index: -1;
      overflow: hidden;
}

.socials {
    position: absolute;
    top: 300px;
    color: white;
    text-align: center;
    width: 100%;
}

.myPic {
    position: absolute;
    bottom: 0px;
    text-align: center;
    z-index: -1;
    overflow: hidden;
}

.pill {
    position: relative;
    top: 200px;
}